/* 한글 깨짐 방지 */
@charset "utf-8";


*{padding: 0; margin: 0;}
#wrap { color: white; text-align: center; line-height: 100px; font-size: 20px;
    text-transform: uppercase;}
    
#header-wrap {width: 100%;  }
#banner-wrap {width: 100%;  }
#contents-wrap {width: 100%;  }
#footer-wrap {width: 100%; }

.header-container {margin: 0 auto; width: 1000px; }
.banner-wrap {margin: 0 auto; width: 1000px;  height: 300px; }
.contents-wrap {margin: 0 auto; width: 1000px; }
.footer-wrap {margin: 0 auto; width: 1000px;  
  display: flex; height: 200px; }
    
    /* 스킵 내비게이션 - 마우스 작용이 어려운 사람을 위한 접근사용자*/
#skip {position: relative;}
#skip a { position: absolute; top: -70px; left: 0px; 
    border: 1px solid #fff; color: #fff; background: #333;
    line-height: 30px; width: 140px; text-align: center;}
#skip a:active,
#skip a:focus{top:0px;}

/* 레이아웃 */
#header {height: 325px; background: #111; background: url(../img/header_bg.jpg) center top repeat-x }
#footer {height: 200px;background: #333;}


/* 컨텐츠 레이아웃 */
#content-nav {background-color: #f6fdff; display: none}
#cont-tit {background-color: #EAF7FD;}
#cont-ban {background-color: #dceff7;}
#con-cont { background: #f6fdff;}


/* 컨테이너 */
.container {width: 990px; margin: 0 auto; height: inherit; background: rgba(255,255,255,0.3); }

 /* 헤더 */
 .header-container .header-menu{ text-align: right;  line-height: 30px;}
 .header-container .header-menu a {color: #373333; padding: 5px 0px 10px 13px; display: inline-block;
    font-size: small;}
 .header-container .header-menu a:hover {color:rgb(188, 215, 175);}
 .header-container .header-menu02 {font-size: x-small; line-height: left; line-height: 0; }
 .header-container .header-menu02 #logo { float: left;   width: 100px;   height: 40px;  }

 /* 헤더2-검색어창  */
 .header-container .header-menu02 #serch{background-color: #a1a8aa;}
 .header-menu02 #serch > div { height: 36px; width: 400px; border: 4px solid #01c021; padding: 10px; padding-right: 0;
            background: #ffffff; display: inline;}
 .header-menu02 #serch input { font-size: 16px; height: 100%; width: 325px; border: 0px; 
    outline: none; }
 .header-menu02 #serch ::placeholder {text-align: center;}
 .header-menu02 #serch button { width: 50px; height: 100%; border: 1px solid #01c021; font-size: 15px; padding: 7px;
    background: #01c021; outline: none; color: #ffffff; }

 
 /* 헤더 아이콘 */
 .header-container .header-menu02 {overflow: hidden;}
 .header-container .header-menu02 .icon{float: right; 
        text-align: right; line-height: 0;}
 .header-container .header-menu02 .icon a { 
  width: 30px; height: 30px; display:inline-block; margin-left: 3px;}

 .header-menu02 .icon .icon1{
    background: url(../img/location.png) no-repeat; 
    background-size: contain;}
 .header-menu02 .icon .icon2{
    background: url(../img/heart.png) no-repeat; 
    background-size: contain;}
 .header-menu02 .icon .icon3{
    background: url(../img/shopping-cart.png) no-repeat; 
    background-size: contain;}

 .header-menu02 .icon .icon1:hover{
    background: url(../img/location-hover.png) no-repeat; 
    background-size: contain;}
 .header-menu02 .icon .icon2:hover{
    background: url(../img/heart-hover.png) no-repeat; 
    background-size: contain;}
 .header-menu02 .icon .icon3:hover{
    background: url(../img/shopping-cart-hover.png) no-repeat; 
    background-size: contain;}

/* 메인NAV */
.header-nav {margin-top: 3px; background-color: #A0C49D;}
.header-nav .menu { overflow: hidden; margin: 0  auto; }
.header-nav .menu>li { list-style: none; width: 20%; float: left;text-align: center; line-height: 40px; 
    background-color: #A0C49D;}
.header-nav .menu li a { text-decoration: none; }
.header-nav .menu li .submenu {height: 0; overflow: hidden; }
.header-nav .menu li .submenu li { line-height: 50px; background-color: #F7FFE5 ;}
.header-nav .menu li .submenu li:hover{ background-color: #A0C49D;}
.header-nav .menu>li:hover{ background-color: #F7FFE5; transition: 0.1s;}
.header-nav .menu>li:hover .submenu{ height: 250px; transition: 1s; }

.header-nav .menu > li:nth-child(4):hover,
.header-nav .menu > li:nth-child(5):hover {
    background-color: #F7FFE5;}

.header-nav .menu > li:nth-child(4):hover .submenu,
.header-nav .menu > li:nth-child(5):hover .submenu {
    height: 0;
    transition: none;
}

/* /header  */

/* body */

/* main slide banner */
/* 배너 */
[name="slide"] {display: none;}
#banner-wrap .banner-wrap .slidebox { max-width: 1000px; width: 100%; margin: 0 auto; }
.slidebox img {max-width: 100%;}
.slidebox .slidelist {
    white-space: nowrap;
    font-size: 0;
    overflow: hidden;
}
.slidebox .slideitem {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    transition: all .35s;
}
.slidebox .slideitem label {
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    padding: 20PX;
    border-radius: 50%;
    cursor: pointer;
}
.slidebox .slideitem label.left {
    left: 20px;
    background: url(../img/arrow.png) no-repeat ; 
    background-size: contain;
}
.slidebox .slideitem label.left:hover{ 
  background: url(../img/arrow-hover.png) no-repeat ; 
  background-size: contain;}
.slidebox .slideitem label.right {
    right: 20PX;
    background: url(../img/arrow\ -\ right.png) no-repeat ; 
    background-size: contain;
}
.slidebox .slideitem label.right:hover {
  background: url(../img/arrow-hover\ -\ right.png) no-repeat ; 
    background-size: contain;
}

[id="slide01"]:checked ~ .slidelist .slideitem {transform: translateX(0);
    animation: slide01 15s infinite;}
[id="slide02"]:checked ~ .slidelist .slideitem {transform: translateX(-100%);
    animation: slide01 15s infinite;}
[id="slide03"]:checked ~ .slidelist .slideitem {transform: translateX(-200%);
    animation: slide01 15s infinite;}

@keyframes slide01{
    0% {left: 0%;}
    30% {left: 0%;}
    33% {left: -100%;}
    63% {left: -100%;}
    66% {left: -200%;}
    96% {left: -200%;}
    99% {left: -200%;}
    100% {left: 0%;}
}
.contents-wrap h2 {line-height: 70px;background-color: white;}

/* 작은 슬라이드 배너 */
[name="slide"] {display: none;}
.slider_wrapper { 
    position: relative;
    width:890px;
    margin:0 auto;
    height:300px;
    overflow:hidden;
   }
  .slider_wrapper .slides{
    position: absolute;
    left:0; top:0;
    width: 1810px;
    transition: left 0.5s ease-out;
  }
  .slides li:not(:last-child){
    float:left;
    margin-right:30px;
  }
  .controls{text-align:center; margin-top: 50px; overflow: hidden;}
  .controls label{
    background:#333;
    color: #fff;
    padding: 0;
    margin: 0 ;
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(0%);
    padding: 20PX;
    border-radius: 50%;
    cursor: pointer;
  }
  .contents-wrap.small_slide{overflow: hidden;}
  .controls label.prev{
    left: 10PX;
    background: url(../img/arrow.png) no-repeat ; 
    background-size: contain;
  }
  .controls label.prev:hover {
    background: url(../img/arrow-hover.png) no-repeat ; 
    background-size: contain;
  }
  .controls label.next{
    right: 10PX;
    background: url(../img/arrow\ -\ right.png) no-repeat ; 
    background-size: contain;
  }
  .controls label.next:hover {
    background: url(../img/arrow-hover\ -\ right.png) no-repeat ; 
    background-size: contain;
  }
  
/* 이벤트 페이지 */
.contents-wrap .event {
    width: 1000px;
    height: 500px; }  
  .contents-wrap .event .event_big {
    float: left;
    width: 400px;
    height: 400px;
    margin-top: 25px;
    margin-left: 40px;
    text-align: left;  }  

  .contents-wrap .event .event_big a {
    display: block;
    width: 450px;
    height: 450px;
    background: url(../img/event-big.jpg); 
    background-size: cover; }
  
  .contents-wrap .event .event_small {
    height: 450px;
    width: 450px;
    float: right;
    margin-top: 25px;
    margin-right: 40px;  }  

  .contents-wrap .event .event_small li { margin-bottom: 11px;  }  

  .contents-wrap .event .event_small li a {
    display: block;
    height: 142px;
    width: 450px;
    background-size: cover;  }
  .contents-wrap .event .event_small .evnt1 a {
    background-image: url(../img/evnet-small\ \(1\).jpg);  }
  .contents-wrap .event .event_small .evnt2 a {
    background-image: url(../img/evnet-small\ \(2\).jpg);  }
  .contents-wrap .event .event_small .evnt3 a {
    background-image: url(../img/evnet-small\ \(3\).jpg);  }


  /* footer  */

.footer-wrap .footer_main {
  width: 700px;
  height: 200px;
  text-align: left;
  background-image: url(../img/FOOTER.png);
}

.footer-wrap .footer_log {
  width: 300px;
  height: 200px;
  text-align: right;
}

.footer-wrap ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-right: 50px;
}

.footer-wrap ul li {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: #ffffff;
  border-radius: 50%; 
}

.footer-wrap ul li a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  
}

.footer-wrap ul li.snslink1 {
  background: url(../img/facebook_png_640.png) ;
  background-position: center center; 
  background-size: 200%;  
}


.footer-wrap ul li.snslink2 {
  background-image: url(../img/인스타그램로고.jpg) ;
  background-position: center center; 
  background-size: 300%;  
}

.footer-wrap ul li.snslink3 {
  background-image: url(../img/네이버\ 블로그\ 로고.jpg);
  background-position: -5px -1px; 
  background-size: 120%;
}









