




        /* 메인 */
main{
    width: auto;
    height: auto;
    border: 1px solid purple;
    overflow: hidden;
}
        /* 메인배너 */

.kind_wrap {
border:2px solid black; 
width:100%; 
max-width:800px; 
margin:0 auto; 
padding: 0;
position: relative;
}
.kind_wrap > .kind_slider {
overflow: hidden;
}
.kind_wrap > .kind_slider .slider { 
position: relative; 
transition: 0.5s;
}
.kind_wrap > .kind_slider .slider li {
float:left;
}
.kind_wrap > .kind_slider img {
vertical-align: top;
}
.kind_wrap .arrow > a.prev {
position: absolute; 
left:-50px; 
top:100px;
}
.kind_wrap .arrow > a.next {
position: absolute; 
right:-50px; 
top:100px;
}









    /* <footer> */
footer{
    width: auto;
    height: 100px;
    position: relative;
    bottom: 0px;
    border: 1px solid blue;
}

